.main_chat
  .group-info
    .group-info__name
      .group-info__name__group
        = @group.name
      .group-info__name__member
        - @group.users.each do |user|
          =user.name
    .group-info__edit
      =link_to edit_group_path(@group), class: "group-info__edit__btn" do
        Edit
  .messages
    = render @messages
      
  .message-form
    = form_for [@group, @message], html: {class: "input-box"} do |f|
      = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
      .input-box__img
        = f.label :image, class: 'input-box__img__btn' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'input-box__img__file'
      = f.submit 'Send', class: 'message-form__send'